@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lora&display=swap');

.button__contact {
    padding: 10px!important;
    color: black!important;
    text-decoration: none;
    background: #995da5;
}

.column__contact {
  margin-top: .5em;
}

.columns__centered {
  margin: auto;
}

.contact__landingBackground {
  background-image: url(../img/fabric_of_squares_gray.png);
}

.contact__div {
  text-align: center;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
  }
  
  
  h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
  }

//  li {
//   list-style: ;
//   list-style-position: inside;
//   }

//   li {
//     // list-style: url(../img/phillyyardens_Favicon.ico);
//     list-style-type: none;
//   }

//  li:before{
//     content: '';
//     display: inline-block;
//     height: 10px;
//     width: 10px;
    
//  }


 li {
  list-style-type: none;
  position: relative;
  padding-left: 45px;
  margin-bottom: 10px;
}

 li:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url(../img/phillyyardens_Favicon.ico);
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-list {
  li:before{
    display: none;
  }
}

.social {
  margin: auto;
}